<div style="height: 15%; background-color: rgb(44, 62, 80);">
  <div class="padding-top: 30px; padding-buttom:30px;">
    <p class="text-white h2" style="float:left;padding-top:30px; padding-left:30px;">COMPUTER SCIENCE</p>
    <a href="#"><p class="text-white h1" style="float:right; padding-right: 50px;padding-top:30px;"> 𝚲 λ </p></a>
  </div>
</div>
