<html>

   <head>
   </head>

   <body>
      <h2>Artificial Intelligence</h2>
      <p><a href="https://github.com/Franko1307/flowshop">FlowShop n1-n2...n-n</a></p>
      <h2>Shortest route between cities</h2>
      <p><a href="https://franjs.com/travel"> link </a></p>
   </body>

</html>


