<div class="" style="background-color: rgb(24,188,156); height: 85%;">
  <div class="" style="padding-top:50px; padding-left:40%;">
    <img class='img-responsive' src="img/profile.jpeg" style='max-width:300px;max-height:300px; border-radius: 50%;', alt=''>
  </div>
  <div class='text-center text-white'>
    <p style='padding-top: 15px; font-size:58px;font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: bold'> FRANCISCO GONZALEZ</p>
    <hr>
    <a href="http://github.com/franko1307"><img src="https://crossbrowsertesting.com/design/images/github-logo.png"  style='max-width:150px;max-height:150px;'alt=''></a>
  </div>



</div>
