<!DOCTYPE html>
<html>
  <head>
    <title>Hi </title>
    <style>
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        width: 50%;
      }
      #right-panel {
        float: right;
        width: 48%;
        padding-left: 2%;
      }
      #output {
        font-size: 11px;
      }
    </style>
<script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
  </head>
  <body>
      <div id="right-panel">
          <form action="javascript:procesa()">
              Pais: <input type="text" id="country" value="México"> <br>
              Origen: <input type="text" id="starting_state" value="Hermosillo"> <br>
              Destino: <input type="text" id="final_state" value="Guaymas"> <br>
              lat range: <input type="text" id="lat" value="2"><br>
              lng range: <input type="text" id="lon" value="2"><br>
              <input type="submit" value="Trazar">
          </form>
          <strong>Results</strong>
          <div id="results"></div>
      </div>
      <div id="output">
      </div>
    </div>
    <div id="map"></div>


<script>
 var datajson = <%- JSON.stringify(data) %>;
</script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAblRWipiI-8w3buA-W5vGJXCq8NYGTGq0"></script>
    <script src="js/travel/travel.js"></script>
  </body>
</html>
