<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/chess/chessboard-0.3.0.css">
    <title>Fran - Genetic Algorithms: N queen problem</title>
  </head>
  <body>
    <div id="board1" style="width: 400px"></div>
    <button onclick="ga_n_queen_problem()" type="button" name="button">Start</button>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src="/js/chess/chessboard-0.3.0.js" charset="utf-8"></script>
    <script src="/js/ga/n-queen-problem.js" charset="utf-8"></script>
  </body>
</html>
